<kc-cfd data="pastDays"></kc-cfd>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Ready to start</th>
      <th>Implementing</th>
      <th>Ready to test</th>
      <th>Testing</th>
      <th>Ready to release</th>
      <th>Done</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-form>
      <th>Today</th>
      <td><input type="number" ng-model="today.rdyDev" min="0"/></td>
      <td><input type="number" ng-model="today.dev" min="0"/></td>
      <td><input type="number" ng-model="today.rdyTest" min="0"/></td>
      <td><input type="number" ng-model="today.test" min="0"/></td>
      <td><input type="number" ng-model="today.rdyRelease" min="0"/></td>
      <td><input type="number" ng-model="today.done" min="0"/></td>
      <td><button ng-click="add()">Add</button></td>
    </tr>
    <tr ng-repeat="day in pastDays track by day._id">
      <th>d-{{$index + 1}}</th>
      <td>{{day.rdyDev}}</td>
      <td>{{day.dev}}</td>
      <td>{{day.rdyTest}}</td>
      <td>{{day.test}}</td>
      <td>{{day.rdyRelease}}</td>
      <td>{{day.done}}</td>
      <td><button ng-click="remove(day._id)">{{day._id}} Remove</button></td>
    </tr>
  </tbody>
</table>